<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h1>The score was: <%= score %> out of total: <%= total %></h1>
            <form action="restart" method="GET" class="login-form">
                <button type="submit">Restart</button>
            </form>
        </div>
    </div>
</body>
</html>
