
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h3>Welcome! Please login or register to get started</h3>
            <form action="user/login" method="GET" class="login-form">
                <button type="submit">Login</button>
            </form>
            <form action="user/register" method="GET" class="login-form">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <script src="index.js"></script>
</body>

<script src="speech.js"></script>

</html>
