
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta http-equiv="X-UA-Compatible" conent="ie=edge">
    <title>Speech recognition app</title>
</head>
<body>
    <div class="login-page-intro">
        <div class="form-intro">
            <h1>Välkommen!</h1>
            <h4>Denna blabla</h4>
            <h4>OBS! Detta test fungerar för tillfället endast i webläsaren google chrome. Om du inte har chrome så får du gärna hämta och installera det genom att klicka <a href="https://www.google.com/chrome/">här</a></h4>
            <form action="user/login" method="GET" class="login-form">
                <button type="submit">Logga in</button>
            </form>
            <form action="user/register" method="GET" class="login-form">
                <button type="submit">Registrera</button>
            </form>
        </div>
    </div>
    <script src="index.js"></script>
</body>

<script src="speech.js"></script>

</html>
