<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h2>Register account</h2>
            <form action="/register" method="POST" class="login-form">
                <div>
                    <input type="text" id="name" name="name" placeholder="name" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="email" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="password" required>
                </div>
                <button type="submit">Register</button>
            </form
        </div>
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </div>

</body>
</html>
