<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h1><%= msg %></h1>
            <form action="talk-login" method="GET" class="login-form">
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</body>
</html>
