<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h1>Start</h1>
            <form action="/voice/talk-login" method="GET" class="login-form">
                <button type="talk-login">Start</button>
            </form>
        </div>
    </div>
</body>
</html>
