<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <h3>Please don´t talk before or after the given word</h3>
            <h3>Talk as clearly as possible</h3>
            <h3>Keep repeating by clicking TALK again, if it does not register the word</h3>
            <h3>Thank you :)</h3>
            <form action="/voice/talk-login" method="GET" class="login-form">
                <button type="talk-login">Start</button>
            </form>
        </div>
    </div>
</body>
</html>
