<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <meta http-equiv="X-UA-Compatible" conent="ie=edge">
    <title>Page Title</title>

</head>
<body>
    <div class="login-page">
        <div class="form">
            <h3 class="word"><%= msg %></h3>
            <button class="talk">Talk!</button>
            <div class="content"></div>








        </div>
    </div>
    <script>function myFunction() {
          console.log("hello");
    }</script>
    <script src="../voice-recognition.js"></script>
</body>
</html>
